<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xlh.mapper.GarbageMapper">
<!-- 	<cache readOnly="true"></cache> -->
	<select id="selAll" resultType="garbageinfo">
		SET @row_number = 0;
		SELECT (@row_number:=@row_number + 1) AS no,g.id gid,g.name
		gname,t.name tname,count
		from garbage g LEFT JOIN type t
		on g.tid=t.id ORDER BY no desc
	</select>
	<select id="selByName" resultType="garbageinfo">
		SET @row_number = 0;SELECT (@row_number:=@row_number + 1) AS no,g.id id,g.name
		gname,t.name tname,tid,count
		from garbage g LEFT JOIN type t on g.tid=t.id where g.name like #{name}
		ORDER BY no desc 
		<bind name="name" value="'%'+name+'%'" />
	</select>

	<select id="selByTypeId" resultType="garbageinfo">
		SET @row_number = 0;
		SELECT (@row_number:=@row_number + 1) AS no,g.id id,g.name
		gname,t.name tname,tid
		from garbage g LEFT JOIN type t on g.tid=t.id
		<choose>
			<when test="tid!=0">
				where tid in (#{tid})
			</when>
			<otherwise>
				where tid in (1,2,3,4)
			</otherwise>
		</choose>
		ORDER BY no desc 
	</select>

<!-- 	<select id="selByNameAndType" resultType="garbageinfo">
		select g.id id,g.name gname,t.name tname,count
		from garbage g LEFT JOIN type t on g.tid=t.id
		<choose>
			<when test="tid!=0">
				where tid in (#{tid})
			</when>
			<otherwise>
				where tid in (1,2,3,4)
			</otherwise>
		</choose>
		and g.name like #{name} ORDER BY count DESC 
		<bind name="name" value="'%'+name+'%'" />
	</select> -->

	<select id="selByRealName" resultType="garbageinfo"
		parameterType="String">
		SET @row_number = 0;
		SELECT (@row_number:=@row_number + 1) AS no,g.id id,g.name
		gname,t.name tname,tid,count
		from garbage g LEFT JOIN type t on g.tid=t.id where g.name = #{name}
		ORDER BY no desc
	</select>

    <select id="selDetailByTid" resultType="GarbageType" parameterType="String">
    select tid,name,demand,image,detail from type left join garbagerequire on type.id=garbagerequire.tid
    where tid=#{tid}
    
    </select>
    <!-- <select id="selRequireByTid"  resultType="GarbageRequire" parameterType="String">
    select id,demand from garbagerequire where  tid= #{tid}
    </select> -->
</mapper>